#!/bin/sh

{% for key, services in data.Services | groupBy('Service') %}
    {% set sslVirtualHost = '' %}
    {% set sslEmail = '' %}
    {% for service in services %}
        {%- for tag in service.Tags -%}
            {%- set fields = tag |split("=") -%}
            {%- if fields[0] == "SSL_VIRTUAL_HOST" -%}
                {% set sslVirtualHost = fields[1] %}
            {%- endif -%}
        {%- endfor -%}
        {%- for tag in service.Tags -%}
            {%- set fields = tag |split("=") -%}
            {%- if fields[0] == "SSL_EMAIL" -%}
                {% set sslEmail = fields[1] %}
            {%- endif -%}
        {%- endfor -%}
    {% endfor %}

{% if sslVirtualHost.length and sslEmail.length %}
fqdn={{- sslVirtualHost }}
email={{- sslEmail }}
echo -n "$fqdn"

if [ ! -f /etc/letsencrypt/live/$fqdn/fullchain.pem ] && [ ! -f /etc/letsencrypt/live/$fqdn/privkey.pem ]; then
    echo " creating.."
    certbot auth --non-interactive --text -a standalone --agree-tos --email $email --standalone-supported-challenges http-01 --http-01-port 54321 -d $fqdn && \
    cat /etc/letsencrypt/live/$fqdn/fullchain.pem /etc/letsencrypt/live/$fqdn/privkey.pem > /certificates/$fqdn.pem
else
    echo " exists"
fi
{%- endif %}

{%- endfor %}
