### Global partial
{% include "./_global.njk" %}

### Defaults partial
{% include "./_defaults.njk" %}

### Stats partial
{% include "./_stats.njk" %}

### HTTP(S) frontend ###
frontend www
    bind *:{{templateGlobals.haproxy.httpPort}}

    reqadd X-Forwarded-Proto:\ http if !{ ssl_fc }
    reqadd X-Forwarded-Proto:\ https if { ssl_fc }

    # Letsencrypt validation proxy
    acl letsencrypt-acl path_beg /.well-known/acme-challenge/
    use_backend letsencrypt-backend if letsencrypt-acl

    # Generated automatically by consul-template
{% for service in data.Services %}
    acl host_{{ service.ID }} hdr_beg(host) -i {{ service.ID }}.{{ "service.consul" }}
    use_backend {{ service.ID }}_backend if host_{{ service.ID }}

    {% for node in service.nodes -%}
  {% for node in service.nodes -%}
      {% for tag in node.ServiceTags -%}
    {% set kvTag = tag |split("=") -%}
    {% if kvTag[0] === 'VIRTUAL_HOST' %}
        {% set virtualHost = kvTag[1] %}
        acl host_{{ virtualHost }} hdr_beg(host) -i {{ virtualHost }}
        use_backend {{ service.ID }}_backend if host_{{ virtualHost }}
    {% endif %}
      {% endfor %}
  {% endfor %}
    {% endfor %}

{% endfor %}

frontend www-https
    bind *:443 ssl {% for service in data.Services -%}

    {%- for node in service.nodes -%}
      {%- for tag in node.ServiceTags -%}
          {%- set kvTag = tag |split("=") -%}
          {%- if kvTag[0] === 'SSL_VIRTUAL_HOST' -%}
              {%- set virtualHost = kvTag[1] -%}
              {%- set certPath = ['/certificates/etc/live/', virtualHost, '/haproxy.pem'] | join -%}
              {%- if fileExists(certPath) %}
              crt {{ [certPath, ' '] | join -}}
              {% endif %}
          {% endif %}
      {% endfor %}
    {% endfor %}
{% endfor %}

{% for service in data.Services -%}
    {%- for node in service.nodes -%}
      {%- for tag in node.ServiceTags -%}
          {%- set kvTag = tag |split("=") -%}
          {%- if kvTag[0] === 'SSL_VIRTUAL_HOST' -%}
              {%- set virtualHost = kvTag[1] -%}
              {% set certPath = ['/certificates/etc/live/', virtualHost, '/haproxy.pem'] | join %}
              {% if fileExists(certPath) %}
              use_backend {{ service.ID }}_backend if { ssl_fc_sni {{ virtualHost }} }
              {% endif %}
          {% endif %}
      {% endfor %}
    {% endfor %}
{% endfor %}
    http-request set-header X-Forwarded-Proto https if { ssl_fc }

### Consul-configured backend data.Services ###
{% for service in data.Services %}
backend {{ service.ID }}_backend
    {% for node in service.nodes %}
        server {{ node.ServiceID | replace(":", "-") }}-{{ service.ID }}-{{ node.ServicePort }} {{ node.Address}}:{{ node.ServicePort }}
    {% endfor %}
{% endfor %}

backend letsencrypt-backend
    server letsencrypt 127.0.0.1:54321
